@model Astan.Models.User

@{
    ViewBag.Title = "مشاهده";
}

<h2>مشاهده</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userGroup.userGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userGroup.userGroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
