@model Astan.Models.Client

@{
    ViewBag.Title = "مشاهده";
}

<h2>مشاهده</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.need)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.need)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maried)
        </dt>

        <dd>
             @((Model.maried??false)?"متاهل":"مجرد")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthState.healthStateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthState.healthStateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mosque.mosqueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mosque.mosqueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piority.priortyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piority.priortyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.clientID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
