@model IEnumerable<Astan.Models.Client>
@using pep
@{
    ViewBag.Title = "";
}

<p>
    @Html.ActionLink("جدید", "Create")
</p>
<br />
<form action="/client/index" method="post">
    <input type="text" class="form-control" name="obj" value="" placeholder="لطفا شماره ملی یا شماره موبایل مخدوم را وارد کنید" />
    <br />   <input type="submit" name="name" value="جستجو" class="btn btn-default" />
</form>




<div class="table-responsive">


    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nationalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jobtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthDay)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.need)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Mosque.mosqueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Piority.priortyType)
            </th>
            <th>
                ثبت کننده
            </th>
            <th>عملیات</th>

        </tr>

        @foreach (var item in Model)
        {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobtitle)
        </td>
        <td>
            @((item.birthDay ?? DateTime.Now).ToPersianDateShortString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.need)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mosque.mosqueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piority.priortyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.name)
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.clientID }) |
            @Html.ActionLink("مشاهده", "Details", new { id = item.clientID }) |
            @Html.ActionLink("حذف", "Delete", new { id = item.clientID }) |
            <a href="clientmember/index/@item.clientID">اعضای خانواده</a>
        </td>

    </tr>
        }

    </table>
</div>
