@model Astan.Models.ClientMember

@{
    ViewBag.Title = "مشاهده";
}

<h2>مشاهده</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.need)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.need)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.name)
        </dt>

        <dd>
            model.Client.name.DecodeItem()
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.HealthState.healthStateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthState.healthStateType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.clientMemberID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
