@model  IEnumerable<Astan.Models.FullReport>

@{
    int i = 1;
}
<table class="table">
    <tr>
        <th>ردیف</th>
        <th>
            تعداد مخدومین
        </th>
        <th>
            تعداد اعضای خانواده های مخدومین
        </th>
        <th>
            جمع
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@(i++)</td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinetMemberCount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
    }
    @*<tr>
        <td>جمع کل</td>
        <td>
            @Model.Sum(c => c.Minutes)
        </td>
        <td></td>
        <td></td>
    </tr>*@
</table>