@model Astan.Models.Faq

@{
    ViewBag.Title = "مشاهده";
}

<h2>مشاهده</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.faqID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
