@model Astan.Models.Client

@{
    ViewBag.Title = "حذف";
}


<h3>آیا مایل به حذف هستید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nationalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nationalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobtitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobtitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.need)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.need)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maried)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maried)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registerDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registerDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.educationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.educationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeStateDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeStateDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Continus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goneShrine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goneShrine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moneySource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moneySource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthState.healthStateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthState.healthStateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mosque.mosqueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mosque.mosqueName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piority.priortyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piority.priortyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeState.homeStateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeState.homeStateName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" /> |
            @Html.ActionLink("بازگشت", "Index")
        </div>
    }
</div>
